<div class="ht__bradcaump__area"
    style="background: rgba(0, 0, 0, 0) url(img/bg/4.jpg) no-repeat scroll center center / cover ;">
    <div class="ht__bradcaump__wrap">
    </div>
</div>

<div class="checkout-wrap ptb--100">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="checkout__inner">
                    <div class="accordion-list">
                        <div class="accordion">
                            <div class="accordion__title">
                                MÉTODO DE COMPROBACIÓN
                            </div>
                            <div class="accordion__body">
                                <div class="accordion__body__form">
                                    <div class="row">
                                        <div class="col-md-7">
                                            <div class="checkout-method">
                                                <form action="#">
                                                    <div class="checkout-method__single">
                                                        <h5 class="checkout-method__title"><i
                                                                class="zmdi zmdi-caret-right"></i>PAGAR COMO INVITADO O REGISTRARSE</h5>
                                                        <p class="checkout-method__subtitle">Regístrese con nosotros para una futura conveniencia:</p>
                                                        <div class="single-input">
                                                            <input type="radio" id="checkout-method-1"
                                                                name="checkout-method" checked="checked">
                                                            <label for="checkout-method-1">Pagar como invitado</label>
                                                        </div>
                                                        <div class="single-input">
                                                            <input type="radio" id="checkout-method-2"
                                                                name="checkout-method">
                                                            <label for="checkout-method-2">Registro</label>
                                                        </div>
                                                    </div>
                                                    <div class="checkout-method__single">
                                                        <h5 class="checkout-method__title"><i
                                                                class="zmdi zmdi-caret-right"></i>REGÍSTRESE Y AHORRE TIEMPO</h5>
                                                        <p class="checkout-method__subtitle">Regístrese con nosotros para una futura conveniencia:</p>
                                                        <div class="single-input">
                                                            <input type="radio" id="register-method-1"
                                                                name="register-method" checked="checked">
                                                            <label for="register-method-1">salida rapida y facil</label>
                                                        </div>
                                                        <div class="single-input">
                                                            <input type="radio" id="register-method-2"
                                                                name="register-method">
                                                            <label for="register-method-2">Fácil acceso al historial y estado de sus pedidos.</label>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="checkout-method__login">
                                                <form action="#">
                                                    <h5 class="checkout-method__title">INICIAR SESIÓN</h5>
                                                    <h5 class="checkout-method__title">¿YA REGISTRADO?</h5>
                                                    <p class="checkout-method__subtitle">Por favor, inicie sesión a continuación:</p>
                                                    <div class="single-input">
                                                        <label for="user-email">Dirección de correo electrónico</label>
                                                        <input type="email" id="user-email">
                                                    </div>
                                                    <div class="single-input">
                                                        <label for="user-pass">Contraseña</label>
                                                        <input type="password" id="user-pass">
                                                    </div>
                                                    <p class="require">* Campos requeridos</p>
                                                    <a href="#">¿Olvidaste las contraseñas?</a>
                                                    <div class="dark-btn">
                                                        <a href="#">INICIAR SESIÓN</a>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion__title">
                                DATOS DE FACTURACIÓN
                            </div>
                            <div class="accordion__body">
                                <div class="bilinfo">
                                    <form action="#">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="single-input mt-0">
                                                    <select name="bil-country" id="bil-country">
                                                        <option value="select">Selecciona tu pais</option>
                                                        <option value="arb">chile</option>
                                                        <option value="ban">brasil</option>
                                                        <option value="ind">canada</option>
                                                        <option value="uk">mexico </option>
                                                        <option value="usa">peru </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="single-input">
                                                    <input type="text" placeholder="Nombre">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="single-input">
                                                    <input type="text" placeholder="Apellido">
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="single-input">
                                                    <input type="text" placeholder="Nombre Compañia (opcional)">
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="single-input">
                                                    <input type="text" placeholder="Direccion">
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="single-input">
                                                    <input type="text" placeholder="departamento/Block/casa (opcional)">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="single-input">
                                                    <input type="text" placeholder="Ciudad/Estado">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="single-input">
                                                    <input type="text" placeholder="Codigo Postal">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="single-input">
                                                    <input type="email" placeholder="Correo">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="single-input">
                                                    <input type="text" placeholder="Numero Celular">
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="accordion__title">
                                INFORMACIÓN DE ENVÍO
                            </div>
                            <div class="accordion__body">
                                <div class="shipinfo">
                                    <h3 class="shipinfo__title">DIRECCIÓN DE ENVÍO</h3>
                                    <p><b>Dirección:</b> Bootexperts, Banasree D-Block, Dhaka 1219, Bangladesh</p>
                                    <a href="#" class="ship-to-another-trigger"><i
                                            class="zmdi zmdi-long-arrow-right"></i>Enviar a otra dirección</a>
                                    <div class="ship-to-another-content">
                                        <form action="#">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="single-input mt-0">
                                                        <select name="bil-country" id="bil-country">
                                                            <option value="select">Selecciona tu pais</option>
                                                            <option value="arb">chile</option>
                                                            <option value="ban">brasil</option>
                                                            <option value="ind">canada</option>
                                                            <option value="uk">mexico </option>
                                                            <option value="usa">peru </option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="single-input">
                                                        <input type="text" placeholder="Nombre">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="single-input">
                                                        <input type="text" placeholder="Apellido">
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="single-input">
                                                        <input type="text" placeholder="Nombre Compañia (opcional)">
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="single-input">
                                                        <input type="text" placeholder="Direccion">
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="single-input">
                                                        <input type="text" placeholder="departamento/Block/casa (opcional)">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="single-input">
                                                        <input type="text" placeholder="Ciudad/Estado">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="single-input">
                                                        <input type="text" placeholder="Codigo Postal">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="single-input">
                                                        <input type="email" placeholder="Correo">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="single-input">
                                                        <input type="text" placeholder="Numero Celular">
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion__title">
                                MÉTODO DE ENVÍO
                            </div>
                            <div class="accordion__body">
                                <div class="shipmethod">
                                    <form action="#">
                                        <div class="single-input">
                                            <p>
                                                <input type="radio" name="ship-method" id="ship-fast">
                                                <label for="ship-fast">Primer envio</label>
                                            </p>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid
                                                voluptatum quaerat totam hic suscipit quam repellat debitis ad sed
                                                aperiam quisquam quibusdam enim labore, ipsa illo, natus ipsam
                                                temporibus officia.</p>
                                        </div>
                                        <div class="single-input">
                                            <p>
                                                <input type="radio" name="ship-method" id="ship-normal">
                                                <label for="ship-normal">Envio Normal</label>
                                            </p>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam maxime,
                                                eaque eos! Quidem officia similique, fuga consequatur vero? Quis autem
                                                dicta voluptatibus veniam temporibus rem reprehenderit placeat quaerat
                                                sunt ducimus.</p>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="accordion__title">
                                INFORMACIÓN DEL PAGO
                            </div>
                            <div class="accordion__body">
                                <div class="paymentinfo">
                                    <div class="single-method">
                                        <a href="#"><i class="zmdi zmdi-long-arrow-right"></i>Cheque/ Giro Postal</a>
                                    </div>
                                    <div class="single-method">
                                        <a href="#" class="paymentinfo-credit-trigger"><i
                                                class="zmdi zmdi-long-arrow-right"></i>Targeta de Credito</a>
                                    </div>
                                    <div class="paymentinfo-credit-content">
                                        <form action="#">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="single-input mt-0">
                                                        <input type="text" placeholder="Nombre del dueño de la targeta">
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="single-input">
                                                        <select name="bil-country" id="payment-info-type">
                                                            <option value="select">tipo targeta</option>
                                                            <option value="card-1">visa</option>
                                                            <option value="card-2">master card</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="single-input">
                                                        <input type="text" placeholder="Numero de Taregta de Credito*">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="single-input">
                                                        <select>
                                                            <option>Seleccione Mes</option>
                                                            <option>Jan</option>
                                                            <option>Feb</option>
                                                            <option>Mar</option>
                                                            <option>Apr</option>
                                                            <option>May</option>
                                                            <option>Jun</option>
                                                            <option>Jul</option>
                                                            <option>Aug</option>
                                                            <option>Sep</option>
                                                            <option>Oct</option>
                                                            <option>Nov</option>
                                                            <option>Dec</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="single-input">
                                                        <select>
                                                            <option>Seleccione Año</option>
                                                            <option>2015</option>
                                                            <option>2016</option>
                                                            <option>2017</option>
                                                            <option>2018</option>
                                                            <option>2019</option>
                                                            <option>2020</option>
                                                            <option>2021</option>
                                                            <option>2022</option>
                                                            <option>2023</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="single-input">
                                                        <input type="text" placeholder="Numero de Verificacion*">
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="order-details">
                    <h5 class="order-details__title">Your Order</h5>
                    <div class="order-details__item">
                        <div class="single-item">
                            <div class="single-item__thumb">
                                <img src="img/cart/1.png" alt="ordered item">
                            </div>
                            <div class="single-item__content">
                                <a href="#">Santa fe jacket for men</a>
                                <span class="price">$128</span>
                            </div>
                            <div class="single-item__remove">
                                <a href="#"><i class="zmdi zmdi-delete"></i></a>
                            </div>
                        </div>
                        <div class="single-item">
                            <div class="single-item__thumb">
                                <img src="img/cart/2.png" alt="ordered item">
                            </div>
                            <div class="single-item__content">
                                <a href="#">Santa fe jacket for men</a>
                                <span class="price">$128</span>
                            </div>
                            <div class="single-item__remove">
                                <a href="#"><i class="zmdi zmdi-delete"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="order-details__count">
                        <div class="order-details__count__single">
                            <h5>sub total</h5>
                            <span class="price">$909.00</span>
                        </div>
                        <div class="order-details__count__single">
                            <h5>Tax</h5>
                            <span class="price">$9.00</span>
                        </div>
                        <div class="order-details__count__single">
                            <h5>Shipping</h5>
                            <span class="price">0</span>
                        </div>
                    </div>
                    <div class="ordre-details__total">
                        <h5>Order total</h5>
                        <span class="price">$918.00</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>