<div class="row">
    
</div>


<section class="htc__contact__area ptb--10 bg__white">
    <div class="container">
        <div class="row col-md-3 col-md-offset-4">
            <div class="contact-form-wrap mt--60">
                <div class="col-xs-12">
                    <div class="contact-title">
                        <h2 class="title__line--6">Registrar</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-md-offset-4">
            <form action="/signup" method="POST">
                <div class="form-group has-feedback">
                    <i class=" form-control-feedback"></i>
                    <input type="text" title="Ingrese su Nombre" id="nombre" name="nombre" class="form-control" placeholder="Nombre" autofocus required>
                </div>
                <div class="form-group has-feedback">
                    <i class=" form-control-feedback"></i>
                    <input type="text" title="Ingrese su Apellido" id="apellido" name="apellido" class="form-control" placeholder="Apellido" required>
                </div>
                <div class="form-group has-feedback">
                    <i class=" form-control-feedback"></i>
                    <input type="email" title="Ingrese su Correo" id="email" name="email" class="form-control" placeholder="Correo" required>
                </div>
                <div class="form-group has-feedback">
                    <i class=" form-control-feedback"></i>
                    <input type="password" title="Ingrese su Contrase침a" id="pass" name="pass" class="form-control" placeholder="Contrase침a" required>
                </div>           
                <div class="form-group has-feedback">
                    <i class=" form-control-feedback"></i>
                    <input type="text" title="Ingrese su Direcci칩n" id="direccion" name="direccion" class="form-control" placeholder="Direcci칩n" required>
                </div>  
                <div class="form-group has-feedback">
                    <i class=" form-control-feedback"></i>
                    <input type="text" title="Ingrese nuemro Contacto" id="telefono" name="telefono" class="form-control" placeholder="Telefono" required>
                </div>     
                {{!-- <input type="hidden" name="_csrf" value="{{csrfToken}}"> --}}
                <button type="submit" class="btn btn-primary">Registar</button>
            </form>
        </div>
    </div>
</section>