<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Vip-Network</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- icono de la pagina -->
    <link rel="shortcut icon" type="image/x-icon" href="/img/tragaperras.png">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">

    <!-- Bootstrap fremwork main css -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/owl.carousel.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/owl.theme.default.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/core.css"/>
    <link rel="stylesheet" type="text/css" href="/css/shortcode/shortcodes.css"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="/css/responsive.css"/>
    <link rel="stylesheet" type="text/css" href="/css/custom.css"/>

    <!-- Modernizr JS -->
    <script src="/js/vendor/modernizr-3.5.0.min.js"></script>
    
</head>

<body>
   <div class="offset__wrapper"> 
        {{> navigation}}

        <div class="body__overlay"></div>
        
        {{!-- {{> buscar}} --}}

        {{> gadget_carrito}}

        {{> message}}
        
        {{{body}}}
        
        {{> footer}}
    </div>

    {{!-- Scripts --}}  
    <script type="text/javascript" src="/js/vendor/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/plugins.js"></script>
    <script type="text/javascript" src="/js/slick.min.js"></script>
    <script type="text/javascript" src="/js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="/js/waypoints.min.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
    <script type="text/javascript" src="/js/carrito.js"></script>

</body>

</html>